.container {
  color: #333333;
  background: #fafafa;
  border: none;
  border-radius: 0;
  text-transform: lowercase;
  font-size: 14px;
  text-align: center;
  cursor:  pointer;
  width: auto;
  height: 34px;
  padding: 0 14px;
}

.container:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.action {
  background: #59ae92;
  color: #fafafa;
  font-size: 16px;
  font-weight: bold;
  flex-shrink: 0;
  height: 46px;
  padding: 0 28px;
}

.secondary {
  background: #929292;
  color: #fafafa;
  font-size: 16px;
  padding: 0 28px;
}
