.header {
  display: flex;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid #c6c6c6;
}
.collapseClickableArea {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #59ae92;
}

.collapseClickableArea:hover {
  color: #518473;
}

.collapseIcon {
  width: 11px;
  height: 11px;
}

.bodyCollapsed {
  transition: height 0.15s linear;
  height: 0;
  display: none;
}
