.iconContainer {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.successIconContainer {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.transparent{
  transition-duration: 500ms;
  opacity: 0;
}
