/*
To support dybr.space domain
One day we'll get rid of Froala at all
*/

div.fr-wrapper>div:first-child:not(.fr-view)>a {
  font-size: 0px !important;
  padding: 0px !important;
  height: 0px !important;
}
