/* TODO: Use styled components for tribute menu */
/* Tribute container is attached to document body and doesn't have access to
theme properties, which is not good. As workaround I created this css file and
imported it in index.js. I tried to attach tribute-container to react component
by getting element by id (see `menuContainer` property https://github.com/zurb/tribute),
but it doesn't work. Maybe you'll fix this :) */

#tribute-container {
  width: 100vh;
  top: 0;
  position: absolute;
}

.tribute-container {
  margin-top: 10px;
  background-color: white;
  z-index: 9999;
  min-height: 35px;
  border-radius: 0px;
  box-shadow: 0 0 0 1px hsl(0deg 0% 0% / 10%), 0 4px 11px hsl(0deg 0% 0% / 10%);
  padding: 0px;
}

.tribute-container li {
  cursor: pointer;
  list-style-type: none;
  font-size: 14px;
  padding: 8px 15px;
  color: #333333;
  transition: 0.2s;
  border-left: 8px solid #fafafa;
}

.tribute-container li.highlight {
  font-weight: bold;
  border-left: 8px solid #59ae92;
  background-color: #eeeeee;
}

#mention:empty:before {
  cursor: text;
  content: attr(placeholder);
  color: hsl(0, 0%, 71%);
}
