.buttonMargin {
  margin-left: 20px;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.allRequestCheckbox {
  padding-left: 20px;
  padding-bottom: 15px;
}

.profileName:link,
.profileName:visited {
  font-weight: bold;
  color: #518473; /* accentDark */
}
.profileName:hover,
.profileName:active {
  color: #59ae92; /* accent */
}
