.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 8px 0px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.avatarImg {
  max-width: 30px;
  max-height: 30px;
}

.link:link,
.link:visited {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profileName:link,
.profileName:visited {
  font-weight: bold;
  color: #518473; /* accentDark */
}
.profileName:hover,
.profileName:active {
  color: #59ae92; /* accent */
}
.data {
  display: flex;
  flex-flow: column;
  row-gap: 5px;
}
