.checkboxContainer {
  position: relative;
}

.iconContainer {
  display: block;
  position: absolute;
  top: -8px;
  left: 3px;
  width: 30px;
  height: 30px;
}

.iconChecked {
  color: #59ae92;
}

.iconChecked.inverted {
  color: white;
}
