.container {
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
  font-size: 12px;
  position: relative;
}

.label {
  color: #929292;
  position: absolute;
  transform: translate(0, 13px);
  top: -2px;
  font-size: 1em;
  pointer-events: none;
  transition: 0.2s;
}
