.communityAvatarWrapper {
  position: relative;
  margin-bottom: 30px;
}

.communityAvatarAuthor {
  position: absolute;
  padding: 0;
  top: 75%;
  left: 65%;
  cursor: pointer;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 60px;
  max-height: 60px;
  line-height: 1;
}
.communityAvatarAuthor img {
  background-color: #fefefe;
  border: 2px solid #fefefe;
  border-radius: 2px;
  max-width: 60px;
  max-height: 60px;
}

.communityAvatarAuthor>span {
  padding: 0;
}
