.link {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  padding: 10px 25px;
  color: #929292; /* textLight: */
  text-decoration: none;
  text-align: center;
}

@media (max-width: 550px) {
  .link {
    width: auto;
    height: 40px;
    padding: 7px;
  }
}

.active {
  font-weight: bold;
  border-bottom: 4px solid #de413a; /* brand: */
  color: #de413a; /* brand: */
}
