.scrollArea {
  background-color: #eeeeee;
  padding: 20px 10px 20px 20px;
  max-height: 270px;
  overflow: auto;
  scrollbar-color: #dcdcdc #929292;
  scrollbar-width: thin;
}

.scrollArea::-webkit-scrollbar {
  width: 5px;
  background-color: #dcdcdc;
}

.scrollArea::-webkit-scrollbar-thumb {
  background: #929292;
}
