.container {
  max-width: 980px;
  margin: 70px auto 0 auto;
  padding-bottom: 180px;
  background-color: white;
  padding: 34px 40px 40px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.table {
  width: 100%;
  border-spacing: 0px;
}


.table thead tr {
  background-color: #59AE91;
  color: white;
}

.table tbody tr {
  border-bottom: 1px solid #f5f5f5;
}

.table th {
  padding: 12px 25px;
}

.table td {
  text-align: center;
  padding: 12px 25px;
}


.checkbox {
  border-color: white;
}

.columnCheckbox {
}

.columnProfile {
  text-align: left;
  max-width: 120px;
}

.columnDate {
  max-width: 70px;
}

.unreadMessagesMark {
  background: #de413a;
  color: #fafafa;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 10px;
  display: inline;
  text-decoration: none;
}

.unreadMessagesCollapsed {
  display: none;
}

tr.unreadMessagesRow td {
  font-weight: 800;
}

.status {
  font-weight: 800;
}

.help * {
  display: inline !important;
}

.help .helpIcon {
  height: 12px;
  width: 18px;
}

.error {
  width: 100%;
  background-color: #faecea;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .columnMessages {
    display: none;
  }

  .container {
    padding: 34px 0px 40px;
  }

  .container>* {
    margin: 0 20px;
  }

  .container>.table {
    margin: 0px;
  }

  .unreadMessagesCollapsed {
    display: block;
    text-align: left;
  }

}
