.header {
  margin: 40px auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerSideContainer {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.headerSideContainer a {
  text-decoration: none;
}

.backButtonText {
  font-weight: 600;
  color: #518473;
  margin-left: 10px;
}

.backButtonIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

@media only screen and (max-width: 500px) {
  .backButtonText {
    display: none;
  }
}

.iconContainer {
  width: 50;
}
