.buttonsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.buttonWrapperMarginAfter {
  margin: 0px 0px 40px 0px;
}

.buttonsWrapperError {
  margin-top: 30px;
}

.buttonLeft {
  margin-right: 20px;
}

.marginBottom {
  margin-bottom: 20px;
}

.turnOnButton {
  margin-top: 35px;
}

.container {
  margin-bottom: 55px;
}

.textFieldWrapper {
  margin-top: 30px;
}

.footerCheckboxContainer {
  margin-top: 50px;
}

.softAlertContainer {
  transition: height 0.15s linear;
  height: 0;
}

.softAlertContainer.active {
  height: 30px;
}

.softAlert {
  margin-top: 20px;
  align-self: center;
}
