.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  flex-grow: 1;
  font-weight: bold;
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.removeIcon {
  height: 20px;
  width: 20px;
}

.removeIconBackground {
  opacity: 0;
}

.removeIconDetailLines {
  color: #929292;
}

.removeIconOutline {
  color: #929292;
}

.removeButton:hover .removeIconDetailLines,
.removeButton:hover .removeIconOutline {
  color: #de413a;
}
