.units {
  position: relative;
  top: 4px;
  font-size: 14px;
}

.rangeWrapper {
  display: flex;
  justify-content: flex-start;
}

.label {
  font-size: 14px;
  width: 150px;
  margin-right: 20px;
  position: relative;
  top: 4px;
}
