.container {
  max-width: 980px;
  margin: 70px auto 180px auto;
  background-color: #fafafa; /* textLighter */
  padding: 34px 40px 40px;
  font-size: 14px;
}

.block {
  width: 100%;
  margin-bottom: 30px;
}

.searchContainer {
  display: flex;
  align-items: flex-end;
  width: 240px;
}

.searchButton {
  margin-left: 3px;
  margin-bottom: 2px;
  width: 22px;
  color: #59ae92;
}
.searchButton:hover {
  color: #518473;
}

.clickableColumnName {
  cursor: pointer;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.total {
  padding: 62px 0 36px;
  font-weight: bold;
}

.titleColumn {
  width: 360px;
  max-width: 360px;
}

.ownerColumn {
  width: 280px;
  max-width: 280px;
}

.profileName {
  color: #333333;
  font-weight: normal;
}

.profileName:hover,
.profileName:active {
  color: #518473; /* accent */
}

.entriesColumn {
  width: 60px;
  text-align: center;
}
.commentsColumn {
  width: 110px;
}
.lastEntryColumn {
  width: 70px;
}

.titleColumnName {
  font-weight: bold;
}
.communityColumnTags {
  color: #929292; /* textLight: */
}

.pagination {
  margin: 35px -40px -35px -40px;
}

.bottomSpace {
  padding-bottom: 10px;
}

.titleColumnNameLink:link,
.titleColumnNameLink:visited {
  font-weight: bold;
  color: #333333; /* text */

  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.titleColumnNameLink:hover,
.titleColumnNameLink:active {
  color: #518473; /* accentDark */
}
